
<section>
  <h3> Hi {{coach1.name}}! Here are your current bookings:</h3>
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  {{!-- {{{body}}} --}}
  {{#each booking1 as |booking| }}
  <div class="card pure-u-md-15-24 pure-u-sm-18-24">
    <div class="yourBookings">
            <h2 class="pure-u-md-14-24 profile">Field Name: {{booking.field_id}}</h2>   
             <p class="pure-u-md-14-24 profile">Team Name: {{booking.team_name}}</p>   
             <p class="pure-u-md-14-24 profile">Date: {{booking.date}}</p>  
             <p class="pure-u-md-14-24 profile">Time Slot: {{booking.time_slot}}</p> 
           <button class="btn" data-fieldid="{{booking.id}}">Delete</button>
            {{!-- <p class="pure-u-md-14-24">Unique Field id: {{field.id}}</p> 
            <div class="bookingBtn"> Book This Field </div>      --}}
    </div>
</div>
    {{/each}}
</section>
<script src="/js/profile.js"></script>
